.vscode/
privacy_policy_toolchain/code/resources/lid.176.bin
privacy_policy_toolchain/data/privacy_policies/*
privacy_policy_toolchain/data/database.json
privacy_policy_toolchain/data/*
privacy_policy_toolchain/logs/language_analysis
privacy_policy_toolchain/logs/*
privacy_policy_toolchain/results/classification/*